
<div
  class="list"
>
  <div class="list_header">
    <div class="list_header_title">
      <p *ngIf="!showListForm" (click)="initListForm()">{{list.name}}</p>
      <form [formGroup]="editListForm" (ngSubmit)="onListUpdate()" *ngIf="showListForm" class="board-page_form">
        <input
          formControlName="name"
          type="text"
          id="name"
          class="form-control"
        >
      </form>
    </div>
    <div class="list_header_actions">
      <button (click)="onDeleteList()" type="button" class="action-btn">
        <img src="https://img.icons8.com/material-sharp/24/ff1493/trash.png" alt=""/>
      </button>
      <button type="button" class="action-btn">
        <img src="https://img.icons8.com/glyph-neue/24/ff1493/archive-folder.png" alt=""/>
      </button>
    </div>
  </div>

  <ul class="list_tasks">
    <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
    <li class="add-task">
      <button *ngIf="!showTaskForm" type="button" (click)="initTaskForm()">+ Add new task</button>
      <form [formGroup]="addTaskForm" (ngSubmit)="onAddTask()" *ngIf="showTaskForm" class="board-page_form">
        <input
          formControlName="content"
          type="text"
          class="form-control"
        >
      </form>
    </li>

  </ul>


</div>

