.card {
  background-color: transparent;
  perspective: 10000px;
  width: 100%;
  height: 100%;
  .board-item {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    .front, .back{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .front {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f1eda5;
      text-shadow: 0 3px 3px #c17fef;
      border: 1px solid #f1eda5;
      border-radius: 12px;
      font-size: 1em;
    }
    .back{
      transform: rotateY(180deg);
      display: flex;
      flex-direction: column;
      font-size: .8em;
      height: 100%;
      width: 100%;
      padding: 10%;
      &_content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        gap: 10%;
        margin: 3%;
        .text-badge{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          width: 100%;
          &_item{
            font-size: .9em;
            align-self: stretch;
            color: #f1eda5;
            text-shadow: 0 1px 1px #c17fef;
            text-align: left;
            span{
              color: #eed7f5;
              font-size: .8em;
            }
          }
        }
        .bottom-badge{
          display: flex;
          justify-content: space-between;
          &_date, &_btn{
            background-color: rgba(245, 245, 245, 0.3);
            border-radius: 10%;
            border: 1px dotted #eed7f5;
            color: whitesmoke;
            padding: 4px;
            font-size: .7em;
          }
          &_btn:hover{
            cursor: pointer;
            border: none;
            background-color: transparent;
              &:after{
                content: ' remove';
                color: #d20845;
                font-size: 1em;
              }
          }
        }
      }
    }
  }
  &:hover .board-item {
    transform: rotateY(180deg);
  }
}


