<div class="card">
<div class="board-item">
  <div class="front">
    <p>{{board.name}}</p>
  </div>
  <div class="back">
    <div class="back_content" (click)="toBoardPage(board)">
      <div class="text-badge">
        <p class="text-badge_item">{{board.description}}</p>
        <p class="text-badge_item"><span>Lists count:</span> {{listsLength}}</p>
      </div>

      <div class="bottom-badge">
        <p class="bottom-badge_date">{{boardDate}}</p>
        <button class="bottom-badge_btn" (click)="deleteBoard()">x</button>
      </div>
    </div>
  </div>
</div>
</div>
