<div class="card">
<div class="board-item">
  <div class="front">
    <p>{{board.name}}</p>
  </div>
  <div class="back">
    <div class="back_content" (click)="toBoardPage(board)">
    <div class="content-text">
      <span id="descr">Description:</span>
      <p>{{board.description}}</p>
      <p><span>#Lists:</span> {{listsLength}}</p>
      <p class="data-creation">{{boardDate}}</p>
    </div>
    <button class="content-btn"(click)="deleteBoard()">remove</button>
  </div>
  </div>
</div>
</div>
