.simpleView.task, .editView.task {
  background-color: whitesmoke;
  border-radius: 8px;
  .task-header{
    height: 4vh;
    background-color: #d2e86d;
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .edit{
      display: none;
      padding: 5px;
    }
    &:hover .edit{
      display: inline-block;
    }
  }
  .task-main{
    display: flex;
    flex-direction: column;
    padding: 5px;
    .comments{
      display: flex;
    }
    .badges{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.editView.task{
  position: absolute;
  scale: 150%;
}
