@import "../workspace.component";
.board-page {
  background-color: rgba(241, 237, 165, 0.6);
  display: flex;
  flex-direction: column;
  padding: 1% 10%;
  height: 100%;
  width: 100vw;
  &_header{
    display: grid;
    grid-template-columns: 50% 50%;
    &.title{
      display: flex;
      justify-content: space-between;
      width: 60%;
      padding: 1%;
      font-size: 1em;
      color: deeppink;
      letter-spacing: .1em;
      border: 1px dotted deeppink;
      border-radius: 10px;
      h3{
        width: 100%;
      }
      img:hover{
        cursor: pointer;
        scale: 110%;
      }
    }
    &.form{
      display: flex;
      flex-direction: column;
      row-gap: 1vh;
      width: 60%;
      .form-control{
        font-size: 1em;
        color: deeppink;
        padding: 2%;
        width: 100%;
        border-radius: 8px;
        letter-spacing: .1em;
        border: 1px solid #9ec1f4;
        background-color: transparent;
      }
      .form-actions{
        display: flex;
        justify-content: flex-end;
        column-gap: 1vw;
        button{
          background-color: #9ec1f4;
          color: deeppink;
          border: none;
          border-radius: 4px;
          padding: 2%;
          &:hover{
            cursor: pointer;
            scale: 105%;
          }
        }
      }
    }
    &.actions{
      @include actions;
    }
  }
}
