<div class="board-page">
  <div class="board-page_header">
    <div class="board-page_header title" *ngIf="!showForm">
      <h3>{{board.name}}</h3>
      <img src="https://img.icons8.com/sf-black-filled/32/9ec1f4/edit.png" alt="" (click)="initForm()"/>
    </div>
    <form [formGroup]="editBoardForm" (ngSubmit)="onSubmit()" *ngIf="showForm" class="board-page_header form">
      <input
        formControlName="name"
        type="text"
        id="name"
        class="form-control"
      >
      <input
        formControlName="description"
        type="text"
        id="description"
        class="form-control"
      >
      <div class="form-actions">
        <button type="submit">Update</button>
        <button type="button" (click)="hideForm()">Cancel</button>
      </div>
    </form>
    <div class="board-page_header actions">
      <li class="search-action">
        <input type="text" id="filter" placeholder="Filter tasks..." [(ngModel)]="filterValue" (input)="onTextChange()">
      </li>

      <li class="sort-action">
        <select id="sort-action" name="sort" class="sort-action_item sort-select" [(ngModel)]="sortValue">
          <option value="">--Sort by--</option>
          <option value="content">Name</option>
          <option value="createdDate">Date</option>
        </select>
        <button type="button" class="sort-action_item sort-btn" #asc (click)="changeSortOrder(asc)">ASC</button>
        <button type="button" class="sort-action_item sort-btn" #desc (click)="changeSortOrder(desc)">DESC</button>
      </li>
    </div>

  </div>
  <app-lists [filterValue]="filterValue" [sortValue]="sortValue" [sortOrder]="sortOrder"></app-lists>
</div>
