<div class="container">
  <div class="auth">
    <div class="auth_signup">
      <div class="auth_signup_text">
        <h2>Join us today!</h2>
        <h6>All of your work in one place! </h6>
        <h6>Easier way to manage daily tasks.</h6>
      </div>
      <button type="button" (click)="onGettingStarted()" class="auth_signup_button">
        Getting Started
      </button>
    </div>
    <!--    <div class="auth_login">-->
    <!--      <p>Already have an account? </p>-->
    <!--      <button type="button" (click)="onSignIn()" class="auth_login_button">Sign in</button>-->
    <!--    </div>-->
  </div>
</div>

