.container {
  display: flex;
  //padding: 20vh 15vw;
  height: 100%;
  padding: 0 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9ec1f4;
  .auth {
    display: grid;
    grid-template-rows: 60% 40%;
    row-gap: 85%;
    width: 100%;
    //height: 60vh;
    &_signup{
      display: flex;
      flex-direction: column;
      row-gap: 10%;
      //&_text {
      h2 {
        //background: radial-gradient(
        //    hsl(180, 88%, 47%),
        //    #f3e76b
        //) fixed;
        //background: conic-gradient(
        //    hsl(180, 88%, 47%),
        //    hsl(277, 90%, 64%),
        //    hsl(180, 88%, 47%)
        //) fixed;
        //-webkit-background-clip: text;
        //-webkit-text-fill-color: transparent;
        color: #a91a9c;
        text-shadow: 0 2px 2px #eac5ff;
        font-size: 4em;
        font-weight: bolder;
        letter-spacing: .05em;
        display: inline-block;
      }

      h6  {
        font-size: 1.5em;
        color: #f8e1e7;
        text-shadow: 0 1px 2px #B651F6FF;
      }
      //}
      &_button {
        width: 25%;
        height: 100%;
        background-color: rgba(163, 29, 151, 0.14);
        border: 1px solid #a31d97;
        border-radius: 15px;
        //border: none;
        padding: 1%;
        font-size: 1em;
        color: #a31d97;
        text-shadow: 0 2px 2px #eac5ff;
        &:hover{
          color: #f8e1e7;
          background-color: rgba(163, 29, 151, 0.47);
          letter-spacing: .05em;
        }
      }
    }
    //&_login {
    //  display: flex;
    //  align-items: center;
    //  p {
    //    color: #f8e1e7;
    //    font-size: .9em;
    //  }
    //  &_button{
    //    border: none;
    //    background-color: transparent;
    //    padding: 2%;
    //    color: #a31d97;
    //    text-decoration: underline;
    //    &:hover{
    //      letter-spacing: .05em;
    //      color: #f8e1e7;
    //      text-decoration: none;
    //      cursor: pointer;
    //    }
    //  }
    //
    //}
  }
}

