@mixin actions{
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-items: center;
  .search-action input{
    padding: 2%;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1em;
    border-bottom: 2px solid #f1eda5;
    color: #c17fef;
    letter-spacing: .05em;
    &::placeholder{
      color: #613986;
      font-size: .8em;
      letter-spacing: .1em;
    }
    &:focus{
      outline-color: #f1eda5;
      &::placeholder{
        visibility: hidden;
      }
    }

  }
  .sort-action{
    justify-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 5%;
    &_item {
      padding: 6px;
      background-color: transparent;
      border-radius: 6px;
      &.sort-select{
        border: 1px solid #f1eda5;
        color: deeppink;
        outline-color: deeppink;
      }
      &.sort-btn{
        border: 1px solid deeppink;
        color: lightblue;
        &:active{
          background-color: deeppink;
        }
      }
    }

  }
}


  .workspace{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12%;
    height: 100%;
    width: 100vw;
    &_header{
      justify-self: center;
      padding: 5% 0;
      width: 100%;
      display: grid;
      grid-template-columns: 40% 60%;
      &.title{
        font-size: 2em;
        letter-spacing: .1em;
        color: deeppink;
        text-shadow: 0 2px 6px #c17fef;
      }

      &.actions{
        @include actions;
      }
    }
    &_boards{
      width: 100%;
    }
  }
