
<header class="header">
  <div class="header_logo">
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-task-gamification-flaticons-lineal-color-flat-icons.png" alt=""/>
    <h1>TC</h1>
  </div>
  <nav class="header_nav">
    <ul>
      <li><a href="#" class="header_nav_item" routerLink="workspace">Workspace</a></li>
      <li *ngIf="!isLoggedIn">
        <a href="" class="header_nav_item" routerLink="auth/login">Login</a>
        <span class="header_nav_span"> | </span>
        <a href="" class="header_nav_item" routerLink="auth/signup">Signup</a>
      </li>
      <li *ngIf="isLoggedIn"><a href="" class="header_nav_item" routerLink="profile">{{username}}</a></li>
      <li *ngIf="isLoggedIn"><a href="" class="header_nav_item" (click)="onLogout()">
        Logout
      </a></li>
    </ul>
  </nav>
</header>
